body {
    background-color: whitesmoke;
}
h1.krhTop {
    color: black;
    letter-spacing: 6px;
    font-family:  "Courier New", Courier, monospace;
    background-color: gray;
    outline-style: solid;
    outline-color: gray;
    outline-width:35px;
    text-align: center;
    font-size:300%;
    margin-bottom: 35px;
}
a.home:link {
    text-decoration: none;
    color: black;
}
a.home:visited {
    color: black;
    text-decoration: none;
}
a.home:hover {
    text-decoration: none
}
p.pageTitle {
    display:block;
    width:98.75%;
    font-family: "Courier New", Courier, monospace;
    color: #333;
    font-size: 24px;
    font-weight: bold;
    background-color: limegreen;
    border-style: solid;
    border-width: 6px;
    border-color: limegreen;
    outline-style: solid;
    outline-color: lime;
    outline-width: 9px;
    padding-left: 4px;
    margin-top: 0erpx;
}

#vehiclePage {
    float: right;
    background-color: lightgray;
    font-family: monospace;
    font-size: 16px;
    padding: 4px;
    border-style: solid;
    border-radius: 4px;
    border-color: gray;
    margin-right: -1px;
    margin-top: -1px;
}
#myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#myUL li a {
  font-family: "Verdana", Geneva, sans-serif;
  background-color: #f6f6f6;
  padding: 12px; 
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  text-align: left;
}
#myUL li a:hover {
  background-color: #eee;
}
img.searchIcon {
    float:right;
    margin-right: 10px;
}
