
#outside {
  z-index: 1;
  position: absolute;
  background-color: lightblue;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: 1s;
  transform-origin: 0;
}

.open-card {
  transform: rotate(180deg);
}

#outside-title {
  color: red;
  font-family: cursive;
  font-size: 20pt;
  text-align: center;
}

#outside-pic {
  width: 284px;
  height: 170px;
    
}

#outside-help {
  color: black;
  font-family: fantasy;
  font-size: 12pt;
  text-align: center;
  padding: 20px;
}

#inside {
  z-index: 0;
  position: absolute;
  background-color: lightcoral;
  width: 100%;
  height: 100%;
  text-align: center;
}


#inside-title {
  color: gold;
  font-family: fantasy;
  font-size: 20pt;
  text-align: center;
}

#inside-pic {
  width: 299px;
  height: 168px;
}

 
#message {
  color: greenyellow;
  font-family: Courier;
  font-size: 12pt;
  text-align: center;

}

button {
  background: lightgreen;
  font-family: cursive;
  border-color: goldenrod;
}














