body {background-color: crimson;}

h1 { color:dodgerblue;
    text-align: center}

p {color: ghostwhite;
    text-align: center;
    font-family: Arial Black;
    font-size: 25px}
img {margin: auto;
    display:block}