body{
    background-color:#ff00ff;
}
h1{
    color:forestgreen; 
    
    margin-left: 200px;
}

h2{
    color: forestgreen;
    
    margin-left: 200px;
}
img{
    display: block;
    margin: auto;
    width: 40%;
}

h3{
    margin-left: 250px;
    
    color: #1dff00
    
    
}