body {
    background-color: gainsboro;
}
h2 {
    color: turquoise;
    font-family: Comic Sans MS;
    font-size: 200%;
    text-align: center;
}
p  {
    color: royalblue;
    font-family: cursive;
    font-size: 100%;
    text-align: center;
}
