body {
    background-color:midnightblue;
    float:middle;
    background-image: url(1.jpg)
}
h1 {
    color:whitesmoke; 
}
p {
    color:whitesmoke;
    font-family: fantasy;
    font-size:1.3em;
}


    
}

.h2 {
    font-style:italic;
    color:whitesmoke;
    font-size-adjust: auto;
    
}
img {
    display:block;
    margin:auto;
}
h3 {
    color:whitesmoke;
}
.character {
            float:right;
            margin:auto;
            border:1px solid black;
            padding: 20px;
            border-color: cornflowerblue;
            color:whitesmoke;
        }
.fa-usd {
    color:whitesmoke;
}
