/*Green, Transparent*/

body {
    background-color:rgb(0,150,0);
}

#a01:link {
    color:rgb(40,150,40);
}

#a01:visited {
    color:rgb(40,150,40);
}

#a01:hover {
    color:rgb(0,150,0);
}

#a01:active {
    color:rgb(0,150,0);
}