/*Black, Transparent*/

body {
    background-color:rgb(0,0,0);
}

#a01:link {
    color:transparent;
}

#a01:visited {
    color:transparent;
}

#a01:hover {
    color:transparent;
}

#a01:active {
    color:transparent;
}


