#mySidebar {
    background-color: #048BA8;
    color: #2E4057
}

#body1 {
    background-color: ;
    color: #2E4057;
    font-family: 'PT Sans Narrow', sans-serif;
}

#heading1 {
    font-family: 'Noto Serif', serif;
    color: #39C24D
}

#imgtext {
    font-family: 'Noto Serif', serif;
    color: #2E4057
}

#body2 {
    font-family: 'PT Sans Narrow', sans-serif;
    color: #2E4057;

}

#imgtext2 {
    font-family: 'Noto Serif', serif;
    color: #2E4057
}

#imgtext3 {
    font-family: 'Noto Serif', serif;
    color: #F18F01
}

#body3 {
    font-family: 'PT Sans Narrow', sans-serif;
    color: #2E4057;
}

#body4 {
    font-family: 'PT Sans Narrow', sans-serif;
    color: #2E4057;
}

#imgtext4 {
    font-family: 'Noto Serif', serif;
    color: #F18F01
}

#heading2 {
    font-family: 'Noto Serif', serif;
    color: #39C24D
}

#heading3 {
    font-family: 'Noto Serif', serif;
    color: #39C24D
}

#footer {
    font-family: 'Noto Serif', serif;
    background-color: #048BA8;
    color: #2E4057;
}
