body{
    background-color:black
    
}
#p{
    color:rgb(100,250,0);
    font-size:2em;
    font-family:fantasy;
    text-align:center;
    
}
#h{
    color:rgb(100,250,0);
    font-family:fantasy;
    font-size:1.5em; 
    
}
#h01{
    color:rgb(100,250,0);
    font-family: fantasy;
    font-size:2.5em;
    text-align:center;
}
