#outside {
  z-index: 1;
  position: absolute;
  background-size: cover;
  background-image: url(Pizzard.png);
  width: 100%;
  height: 100%;
  text-align: center;
  transition: 1s;
  transform-origin: 0;
  background-repeat: no-repeat;
}

.open-card {
  transform: rotateY(90deg);
}

#outside-title {
  color: darkorange;
  font-family: Courier;
  font-size: 100pt;
  text-align: center;
}

#outside-pic {
  width: 354px;
  height: auto;
}

#outside-help {
  color: black;
  font-family: Courier;
  font-size: 12pt;
  text-align: center;
  padding: 20px;
}

#inside {
  z-index: 0;
  position: absolute;
  background-image: url(ThanksWallpaper.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: inherit;
  width: 100%;
  height: 100%;
  text-align: center;
}

#inside-title {
  color: black;
  font-family: Courier;
  font-size: 50pt;
  text-align: center;
}
#inside-title2 {
  color: black;
  font-family: Courier;
  font-size: 10pt;
  text-align: center;
}

#inside-pic {
  height: 250px;
  margin:auto;
}
#inside-pic_2 {
  height: 250px;
  margin:auto;

}



button {
  background: silver;
}
